/* Reset browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 800px;
    background-color: blueviolet;
    padding-top: 100px;
}

.wrap-card {
    width: 400px;
 
    /* Căn giữa phần tử theo chiều ngang (Phải có width cố định) */
    margin: auto; 
}

/* Card top */
.card-top {
    width: 100%;
    /* height: 80px;
    background-color: blue; */
    display: flex;
}

.card-top-left {
    width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top-center {
    width: 70%;
    height: 80px;
    background-color: black;
}



.card-top-right {
    width: 10%;
    height: 80px;
    background-color: beige;
}

/* Card center */
.card-center {
    width: 100%;
    height: 250px;
    background-color: green;
}

.card-center img {
    width: 100%;
    object-fit: cover;
}

/* Card bottom */
.card-bottom {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}