/* Reset web */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}


/* Thanh phan Global */
.container {
    max-width: 1230px;
    margin: auto;
}

/* Header */

/* Header-top */
.header-top {
    width: 100%;
    height: 40px;
    background-color: #cd6420;
    position: relative;
}

.header-top-text {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center; /* Can giua chieu ngang  */
    align-items: center; /* Can giua chieu doc  */
}

.header-top-text p {
    color: white;
    font-size: 16px;
}


.close {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);

    width: 30px;
    height: 30px;
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.5;
}

.close:hover {
    cursor: pointer;
    opacity: 1;
}

.close i {
    color: #252525;
}


/* Header center */
.header-main {
    width: 100%;
    height: 65px;

    background-color: #fff;
}


.wrap-header-main {
    display: flex;
    justify-content: space-between;
    height: 65px;
}


.header-main-left {
    /* width: 20%; */
    height: 65px;
    display: flex;
    align-items: center;
}

.header-main-left img {
    width: 145px;
    height: auto;
    object-fit: cover;
}

.header-main-center {
    /* width: 60%; */
    height: 65px;
}

.menu-main {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-main li {
    /* Bỏ dấu chấm của li */
    list-style: none;
    margin-right: 20px;
}

.menu-main li a{
    text-decoration: none;
    color: black;
}

/* Header right */
.header-main-right {
    height: 65px;
    display: flex;
}

.customer-left ul {
    display: flex;
    height: 65px;
    align-items: center;
}

.customer-left ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-left ul li:hover {
    background-color: rgba(238, 238, 238, 0.4);
}

.customer-left ul .disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.customer-left ul .disabled:hover {
    background-color: #fff;
}

.customer-right {
    margin-right: 20px;
}

.customer-right ul {
    display: flex;
    height: 65px;
    align-items: center;
}

.customer-right ul li {
    list-style: none;
    margin-left: 20px;
    position: relative;
}

.customer-right ul li i {
    font-size: 20px;
}

.customer-right ul li span {
    position: absolute;
    top: -12px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
}

.banner {
    border-top: 1px solid #111;
}