* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Translate(x, y) */
.box-1 {
    width: 200px;
    height: 200px;
    background-color: red;

    transform: translateX(50px);
    /* transform: translate(50px, 100px); */
}


/* Scale(x, y) */
.box-2 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.box-2:hover {
    transform: scale(2,2);
}

/* rotate() */
.box-3 {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: auto;
    transition: width 2s, height 2.5s, transform 3s;
}

.box-3:hover {
    width: 400px;
    height: 400px;
    transform: rotate(180deg);
}

/* ---------------------- */

/* 3D Transform */
.box-4 {
    width: 200px;
    height: 200px;
    background-color: #000;
    transform: translate3d(10px, 0px, 100px);
}
