* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #DADCE0;
    display: flex;
}

.header img {
    margin: auto;
}

.center {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center
}

.box-1 {
    width: 400px;
    height: 600px;
    position: relative;
}

.box-1 h2 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-right: 220px;
    margin-top: 20px;
    display: block;
}

.doanh-nghiep {
    height: 56px;
    width: 360px;
    margin-right: 220px;
    border-radius: 5px;
    border: 1px solid #827f7f;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
}

.box-1 p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 190px;
}

.option-row {
    display: flex;
    flex-direction: column;
}

.option-row div {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  
}

.option-row input {
   height: 20px;
   width: 20px;
}

.option-row label {
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}

#country {
    height: 56px;
    width: 360px;
    margin-right: 220px;
    border-radius: 5px;
    border: 1px solid #827f7f;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
    margin-top: 10px;
}

.box-1 button {
    position: absolute;
    left: 0;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
    border: none;
}

.box-1 button:hover {
    background-color: rgba(0, 123, 255, 0.8);
    cursor: pointer;
}

.box-2 {
    width: 600px;
    height: 600px;
}

.anh-t1 {
    width: 100%;
    height: 50px;
    position: relative;
}

.anh-t1 img {
    height: 100%;
    width: auto;
}

.box-2-1 {
    background-color: #F0F4F9;
    height: 202px;
    width: 340px;
    border-radius: 7px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.content-1 {
    width: 320px;
    height: 155px;
    margin: auto;
    border: 1px solid #dadce0;
    border-radius: 6px;
    background-color: #fff;
}

.top {
    display: flex;
}

.top i {
    margin-left: 10px;
    font-size: 16px;
}

.top p {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 11px;
}

.box-2-2 {
    width: 100%;
    height: 48px;
}

.box-2-2 img {
    height: 100%;
    width: auto;
    margin-top: 30px;
}

.box-2-3 {
    width: 100%;
    height: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box-2-3 p {
    font-size: 28px;
    line-height: 36px;
    width: 335px;
    margin-top: 40px;
}

.box-2-4 {
    height: 96px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box-2-4 p {
    font-size: 16px;
    line-height: 24px;
    width: 335px;
    margin-top: 70px;
}