* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
    background-color: blueviolet;

    display: flex;
}

.box-1 {
    width: 150px;
    height: 150px;
    background-color: red;
}

.box-2 {
    width: 150px;
    height: 150px;
    background-color: black;
}

.box-3 {
    width: 150px;
    height: 150px;
    background-color: skyblue;
}

.box-4 {
    width: 150px;
    height: 150px;
    background-color: green;
}